ProjektGry2D/build/
/ProjektGry2D/dist/
/ProjektGry2D/build/
/ProjektGry2D/nbproject/
/ProjektGry2D/test/
/Alfa-10/dist/
/LegendaryAdventure1.0/build/
/Alpha1.0/build/
/Alpha1.0/nbproject/private/
/Alpha10/build/
/Alpha10/nbproject/private/